<!DOCTYPE html>
html(lang="en")
     head
          meta(charset="UTF-8")
          meta(name="viewport", content="width=device-width, initial-scale=1.0")
          title Gifttable
          link(rel='icon' href='/img/favicon.ico')
          link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")
          script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous")
     body
     nav(class='navbar navbar-expand-lg navbar-dark bg-primary')
          div(class='container-fluid')
               a(class='navbar-brand' href='/') GIFTTABLE
               button(class='navbar-toggler' type='button' data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                    span(class='navbar-toggler-icon')
               div(class="collapse navbar-collapse" id="navbarNav")
                    ul(class='navbar-nav')
                         if user == null
                              li(class='nav-item')
                                   a(class='nav-link' href='/user/signin') Sign In
                              li(class='nav-item')
                                   a(class='nav-link' href='/user/signup') Sign Up
                         if user != null
                              if user.isAdmin 
                                   li(class='nav-item')
                                        a(class='nav-link' href='/product/user/list') My List
                                   li(class='nav-item')
                                        a(class='nav-link' href='/product/list') Products
                              else
                                   li(class='nav-item')
                                        a(class='nav-link' href='/product/user/cart') My Cart
                                   li(class='nav-item')
                                        a(class='nav-link' href='/product/user/invitation') Find List  
                              li(class='nav-item')
                                   a(class='nav-link' href='/product/category/list') Categories 
                              li(class='nav-item')
                                   a(class='nav-link' href='/user/logout') Log Out
     div(class='container')
          block content