extends ../layout

block content
    if errors
        for error in errors
            <div class="mt-1 alert alert-danger alert-dismissible fade show" role="alert">
                strong= error.msg
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            
    div(class='card mt-2 bg-light')
        h1(class='card-header')= title
    div(class='card-footer')
        form(action='/product/user/invitation' method='POST')    
            div(class='row')
                div(class='form-group')
                    label(for='idinvitation') Folio Invitation:
                    input(id='idinvitation' name='idinvitation' type='text' class='form-control')
            div(class='row')
                div(class='form-group')
                    div(class='d-grid mt-2')
                        button(type='submit' class='btn btn-warning') Find 